<div class="container-fluid recognition_container" >
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 text-center col-sm-12  wow animated animatedFadeInUp fadeInUp"><h3>RECOGNITIONS</h3></div>
      <div class="col-sm-4"></div>
    </div>
 
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
          <div class="row no-gutters">
           <a href="https://startups.microsoft.com/en-us/" target="_blank"><img src="assets/images/microsoftventures.png" class="partenr_img box"></a>
            </div>
        </div>
        
         <div class="col-12 col-md-6 col-lg-4">
          <div class="row no-gutters">
           <a href="https://www.youtube.com/watch?v=g_FJNVQYoMM" target="_blank"> <img src="assets/images/pramanikvideo.png" class="partenr_img box"></a>
            </div>
        </div>
        
        
         <div class="col-12 col-md-6 col-lg-4">
          <div class="row no-gutters">
           <a href="https://telecom.economictimes.indiatimes.com/news/microsoft-unveils-solutions-to-empower-smbs-in-india/55855235"  target="_blank"> <img src="assets/images/theeconomictimes.png" class="partenr_img box"></a>
            </div>
        </div>
        
         <div class="col-12 col-md-6 col-lg-4 partenr_img_group_two">
          <div class="row no-gutters">
             <a href="https://www.thehindubusinessline.com/economy/a-tech-solution-for-seamless-gst-integration/article9898380.ece" target="_blank"><img src="assets/images/businessline.png" class="partenr_img box"></a>
           </div>
        </div>
        
         <div class="col-12 col-md-6 col-lg-4 partenr_img_group_two">
          <div class="row no-gutters">
            <img src="assets/images/XLR8.png" class="partenr_img box">
            </div>
        </div>
        
         <div class="col-12 col-md-6 col-lg-4 partenr_img_group_two">
          <div class="row no-gutters">
          <a href="assets/website/pdf/IDOS_TOI.pdf" target= _blank> <img src="assets/images/timesofindia.png" class="partenr_img box"></a>
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 offset-lg-1 recg">
          <div class="row no-gutters">
           
              <img src="assets/images/risingstar.png" class="partenr_img box">
            </div>
        </div>
        
         <div class="col-12 col-md-6 col-lg-4 offset-lg-1 recg">
          <div class="row no-gutters">
            <a href="https://www.youtube.com/watch?v=wz5zh0WTJeI" target="_blank"> <img src="../../assets/images/srikanthvideo.PNG" class="partenr_img"></a>
            </div>
        </div>
      </div>
      </div>
    </div>
 
