<header class="header-fixed" >
  <nav class="navbar navbar-expand-sm fixed-top" id="navbar_custom">
     <div class="container">
      <a href="/" class="navbar-brand ">
       <img src="assets/images/IDOS-Logo-2x.png" alt="">
      </a>
      <ul class="navbar-nav  mr-auto text-white cfo"><li class="nav-item" ><strong>DIGITAL CFO &trade;</strong></li></ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom" id="mobile-nav-toggle">
       <i class="fa fa-bars "></i>
      </button>
      <div class="navbar-collapse collapse text-color" id="navbarCustom">
       <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link text-white" href="#"><strong>Home</strong></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-white" href="#"><strong>Login</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#"><strong>Request Demo</strong></a>
        </li>
        </ul>
       </div>
      </div>
  </nav>
</header>
