<div class="container-fluid Testimonials">
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2 wow animated animatedFadeInUp fadeInUp animated"><h3>TESTIMONIALS</h3></div>
        <div class="col-sm-5"></div>
    </div>

    <div class="container" style="margin-top: 30px;">
    <div class="row">
      <div class="col-sm-12 testi_color text-justify">
        <p> &quot;IDOS is better than competing accounting software on two counts namely Accounting Control &amp; Accounting Intelligence&#46; &quot;</p>
         <p class="quotes"><strong>Head of Corporate Accounts &amp; Treasury &#45;Marico Ltd&#46;</strong></p>

        <p class="testi_para"> &quot; The product is very good in terms of ease of use and I will definitely put in a word to known circles&#46; I will definitely recommend this model for municipal corporations and SME&#39;s&#46; &quot;</p>
        <p class="quotes"><strong>  Program Director Finance &#45; Mindtree  </strong></p>

        <p class="testi_para"> &quot; IDOS is a powerful tool for companies such as ours, since we can control and manage accounting and procurement at all our outlets without having to be physically present at these places&#46; what we like the best is the fact that we can analyse in real&#45;time&#44; whether we are paying more for any purchases and IDOS lets us know if there are suppliers in our location who can provide better pricing for the items that we buy&#46; &quot;</p>
        <p class="quotes"><strong> One of the Largest Automobile Dealer in Country   </strong></p>

        <p class="testi_para"> &quot; We started using the beta version&#46; It is incredible to know the additional features which are being offered which facilitate the decision maker to select best vendor on real&#45;time basis&#46; This will help us in saving cost significantly&#46; we are able to avoid duplications at various level of expense claim processing and availability of timely information for decision making is really appreciable&#46; In IDOS there is a paradigm shift from available accounting packages and in particular the dependence on the accounting personnel in getting timely data could be greatly reduced&#46; No presently available software is able to provide such options&#46;   &quot;</p>
        <p class="quotes"><strong> One of the Largest Dairies in the country   </strong></p>

        <p class="testi_para"> &quot;Heading the finance department of an MNC&#44; I always depend on IDOS&#45; generated data for making proper financial decision&#46; The one&#45;of&#45;a&#45;kind business Intelligence solution helps me to make feasible financial strategies and direct my organization towards its pre&#45;determined objectives&#46; Using its business Intelligence tool&#44; I can fetch real&#45;time data anywhere and anytime&#46; Beside such features&#44; it offers excellent customization and god mobile accessibility&#59; all of which makes it more simple&#44; convenient and user&#45;friendly&#46;&quot;</p>
        <p class="quotes"><strong> SME Business   </strong></p>

        <p class="testi_para"> &quot;As a owner of a CA firm&#44; I was hoping for a solution that would allow me to propose suitable financial strategies for my clients and improve their finances&#44; in a short period of time&#46; My friend then recommended IDOS and using it just for a month&#44; I knew I am in the right pitch&#46; The excellent business intelligence solution presents data in the form of interactive visuals within the dashboards&#46; With the help of the business intelligence tool&#44; I can analyse all business data and make quick decisions on behalf of my clients&#46;&quot;</p>
        <p class="quotes"><strong> Small Audit Firm</strong></p>
        
        
      </div>
    </div>
   </div>
  </div>
