<section id="contact" class="contactus">

    <div class="container-fluid" >
      <div class="row contact_row">
        <div class="col-md-4 col-sm-4 col-xs-4 ">
          <div class="contact-about" style="">
            <h1 class="company_name"><strong>IDOS</strong></h1>
            <p class="company_quote">The forefront of a revolution that is changing the way we conduct accounting.</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 "></div>

        <div class="col-md-4 col-sm-4 col-xs-4 " style="margin-top: 50px;">
             <div>
              <img src="assets/images/Email.png">
              <span class="company_id">sales&#64;myidos.com</span>
             </div>
             
              <div style="margin-top: 20px;">
                <img src="assets/images/Call.png" style="margin-left: 10px;">
              <span class="contact-number">&#43;91 9108506090</span>
              </div>

               <!-- <div>
                <img src="assets/images/footermicrosoft.png">
              </div> -->
        </div>
      </div>

      <div class="row social_media_icon" style="margin-left: 27px;">
        <div class="col-lg-3 col-md-5 col-sm-5 col-xs-5 col-12">
             
          <a href="https://twitter.com/IdosCorp" target="_blank"><img src="assets/images/Twitter.png"></a>
          <a href="https://www.linkedin.com/in/my-idos-33087253/" target="_blank"><img src="assets/images/linkedin.png" style="margin-left: 12px;"></a>
          <a href="https://www.facebook.com/MyIdos/" target="_blank"><img src="assets/images/facebook.png" style="margin-left: 12px;"></a>
          <img src="assets/images/whatsapp.png" (click)="myFunction()" style="margin-left: 12px;">
          <a href="https://www.instagram.com/idoscorp/" target="_blank" ><img src="assets/images/insta.png" style="margin-left: 12px;"></a>
        </div>
      </div>
    </div>
</section>
