<div class="container-fluid" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-12  wow animated animatedFadeInUp fadeInUp">
        <h3 class="bg_color" style="text-align: center;">KEY CAPABILITIES</h3>
      </div>
    </div>
        
    <div class="container">
      <div class="row">
        <div class="col-md-6 box in-left wow">
          <div  class="key_cap">
            <p class="Key_Capabilities">Accounting entries &amp; ledger posting&#46; </p>
            <p class="Key_Capabilities">Computation of tax &#40;GST&#41; for sales transactions </p>
            <p class="Key_Capabilities">Generation of GST Compliant invoice for sales transactions </p>
            <p class="Key_Capabilities">Computation of withholding tax &#40;TDS&#41; </p>
            <p class="Key_Capabilities">Accounting of GST &#47; TDS under correct ledger accounts </p>
            <p class="Key_Capabilities">Computation &amp; accounting of reverse charge under GST </p>
            <p class="Key_Capabilities">Real&#45;time Trial balance updation </p> 
            <p class="Key_Capabilities">Generation of profit &amp; loss account and balance sheet in vertical format </p>
            <p class="Key_Capabilities">Passing of contra entries </p>
            <p class="Key_Capabilities">Reconciliation of receivables &amp; payables &#40;debtors &amp; creditors&#41; </p>
            <p class="Key_Capabilities">Analysis of receivables &amp; payables &#40;debtors &amp; creditors&#41; </p>
            <p class="Key_Capabilities">Control of customer credit limits before making credit sales </p>
            <p class="Key_Capabilities">Alert for overdue receivables &amp; payables </p>
            <p class="Key_Capabilities">Compliance to Internal Financial Controls </p>
            <p class="Key_Capabilities">Real&#45;time internal audit of transactions </p>
            <p class="Key_Capabilities">Budgetary control of expenses &amp; real&#45;time alert for expenses exceeding budget </p>
            <p class="Key_Capabilities">Generation of decision making reports using Microsoft Excel add&#45;in </p>
            <p class="Key_Capabilities">Real&#45;time&#44;Multi&#45;location accounting </p>
            <p class="Key_Capabilities">Combination sales </p>
            <p class="Key_Capabilities">Real&#45;time bill&#45;to&#45;bill matching of invoice receipts and payments</p>
          </div>
        </div>

        <div class="col-md-6 box fadeInRight wow">
          <div class="key_cap" style="height:100%">
            <p class="Key_Capabilities">Bank recociliation statement</p>
            <p class="Key_Capabilities">Download of ledgers and reports into Microsoft Excel </p>
            <p class="Key_Capabilities">World class disaster recovery and data security on Microsoft Azure </p>
            <p class="Key_Capabilities">Expense management and accounting with approvals &amp; monetary limits </p>
            <p class="Key_Capabilities">Combination sales for retail traders </p>
            <p class="Key_Capabilities">Change classification of line items in Profit &amp; Loss account and balance sheet at any time </p>
            <p class="Key_Capabilities">Expense claims management &amp; accounting with monetary limits &amp; approval capability </p>
            <p class="Key_Capabilities">Travel advance &amp; settlement and accounting with approvals and automated eligibility management </p>
            <p class="Key_Capabilities">Upload of bills and supporting documents for all transactions </p>
            <p class="Key_Capabilities">Customer &amp; vendor engagement for balance confirmation </p>
            <p class="Key_Capabilities">Dashboard and reports with graphs </p>
            <p class="Key_Capabilities">Audit trial of all transactions from Trial balance to source of the transaction with one click </p>
            <p class="Key_Capabilities">Free login for auditors </p>
            <p class="Key_Capabilities">On&#45;line audit of transactions and audit notes </p>
            <p class="Key_Capabilities">No need for dedicated hardware </p>
          </div>
        </div>
      </div>
    </div>
  </div>
