<div class="container-fluid" style="margin-top:50px;">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><h3 class="bg_color">CUSTOMIZABLE MODULES</h3></div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row" style="margin-top:30px" id="pills-container">
      <div class="col-12">
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Auto journal entries for provisions</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Online bill discounting</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Vendor management</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">E Procurement</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Dealer accounting</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Holding &#47; subsidiary accounting</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Inventory accounting &amp; valuation</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Advanced analytics</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Fixed assets &amp; depreciation</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Incentive management</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Group-level consolidation &amp; reporting</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Investment accounting</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Time &amp; Material</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Big data analytics</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Trend analysis</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Data migration</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Order management &amp; accounting</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Customer platform</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Vendor platform</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Corporate mobile app</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Financial projections</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Digital lending</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Budget alignments &amp; realignments</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Bar code integration</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Integrated payment gateway</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">AI &#47; ML based reports and analytics</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Document management</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Intelligent Payroll</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Fraud analytics &amp; exception reporting</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Thousands of concurrent users</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">E&#45;Commerce</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Spend management</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Multi&#45;GAAP reporting</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Multi&#45;currency accounting</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Real&#45;time audit</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Credit limit management</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Direct benefit transfer</span>
        <span class="badge badge-pill badge-dark px-4 py-2 m-1">Tax compliances</span>
      </div>
    </div>
  </div>
